<main class="main">
  <div class="content">
    <table mat-table [dataSource]="reports" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Container </th>
        <td mat-cell *matCellDef="let report"> {{report.scanMetadata.origin.container}} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let report"> {{report.scanMetadata.artifact.repository}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
  </div>
</main>


<router-outlet />
